<div class="max-w-lg min-w-1/2 m-auto px-4">
  <h1 class="text-3xl font-bold mt-10">Make a booking</h1>
  <p class="text-lg text-gray-700 my-3">Schedule a new booking by choosing the best time that works for you below.</p>
  <%= render 'form', meeting: @meeting %>
</div>