<div class="container m-auto my-4 bg-white border rounded border-grey-400 p-6">
  <h1 class="pb-2 border-b border-grey-400 mb-4 text-3xl font-bold">List of Active Users</h1>
  <%= render @users %>
</div>